# General
*.o
*.lo
*.a
*.la
*.orig
*.rej
obj-debug/
obj-release/
.vs
.vscode
bochs-msvc-src.zip
*.vcxproj.user
bochs/build/win32/vs2019-workspace/vs2019/avx/
bochs/build/win32/vs2019-workspace/vs2019/bochs/
bochs/build/win32/vs2019-workspace/vs2019/bx_debug/
bochs/build/win32/vs2019-workspace/vs2019/bxhub/
bochs/build/win32/vs2019-workspace/vs2019/bximage/
bochs/build/win32/vs2019-workspace/vs2019/cpu/
bochs/build/win32/vs2019-workspace/vs2019/cpudb/
bochs/build/win32/vs2019-workspace/vs2019/fpu/
bochs/build/win32/vs2019-workspace/vs2019/gui/
bochs/build/win32/vs2019-workspace/vs2019/iodev/
bochs/build/win32/vs2019-workspace/vs2019/iodev_display/
bochs/build/win32/vs2019-workspace/vs2019/iodev_hdimage/
bochs/build/win32/vs2019-workspace/vs2019/iodev_network/
bochs/build/win32/vs2019-workspace/vs2019/iodev_sound/
bochs/build/win32/vs2019-workspace/vs2019/iodev_usb/
bochs/build/win32/vs2019-workspace/vs2019/memory/
bochs/build/win32/vs2019-workspace/vs2019/niclist/
bochs/build/win32/vs2019-workspace/vs2019/softfloat3e/
bochs/build/win32/vs2019-workspace/vs2019/stubs/
bochs/build/win32/vs2019-workspace/vs2019/x64/
bochs/build/win32/vs2019-workspace/vs2019-plugins/avx/
bochs/build/win32/vs2019-workspace/vs2019-plugins/bochs/
bochs/build/win32/vs2019-workspace/vs2019-plugins/bx_acpi/
bochs/build/win32/vs2019-workspace/vs2019-plugins/bx_biosdev/
bochs/build/win32/vs2019-workspace/vs2019-plugins/bx_busmouse/
bochs/build/win32/vs2019-workspace/vs2019-plugins/bx_cmos/
bochs/build/win32/vs2019-workspace/vs2019-plugins/bx_debug/
bochs/build/win32/vs2019-workspace/vs2019-plugins/bx_dma/
bochs/build/win32/vs2019-workspace/vs2019-plugins/bx_e1000/
bochs/build/win32/vs2019-workspace/vs2019-plugins/bx_es1370/
bochs/build/win32/vs2019-workspace/vs2019-plugins/bx_eth_null/
bochs/build/win32/vs2019-workspace/vs2019-plugins/bx_eth_slirp/
bochs/build/win32/vs2019-workspace/vs2019-plugins/bx_eth_socket/
bochs/build/win32/vs2019-workspace/vs2019-plugins/bx_eth_vnet/
bochs/build/win32/vs2019-workspace/vs2019-plugins/bx_eth_win32/
bochs/build/win32/vs2019-workspace/vs2019-plugins/bx_extfpuirq/
bochs/build/win32/vs2019-workspace/vs2019-plugins/bx_floppy/
bochs/build/win32/vs2019-workspace/vs2019-plugins/bx_gameport/
bochs/build/win32/vs2019-workspace/vs2019-plugins/bx_harddrv/
bochs/build/win32/vs2019-workspace/vs2019-plugins/bx_hpet/
bochs/build/win32/vs2019-workspace/vs2019-plugins/bx_ioapic/
bochs/build/win32/vs2019-workspace/vs2019-plugins/bx_keyboard/
bochs/build/win32/vs2019-workspace/vs2019-plugins/bx_ne2k/
bochs/build/win32/vs2019-workspace/vs2019-plugins/bx_nogui_gui/
bochs/build/win32/vs2019-workspace/vs2019-plugins/bx_parallel/
bochs/build/win32/vs2019-workspace/vs2019-plugins/bx_pci/
bochs/build/win32/vs2019-workspace/vs2019-plugins/bx_pci2isa/
bochs/build/win32/vs2019-workspace/vs2019-plugins/bx_pci_ide/
bochs/build/win32/vs2019-workspace/vs2019-plugins/bx_pic/
bochs/build/win32/vs2019-workspace/vs2019-plugins/bx_pit/
bochs/build/win32/vs2019-workspace/vs2019-plugins/bx_rfb_gui/
bochs/build/win32/vs2019-workspace/vs2019-plugins/bx_sb16/
bochs/build/win32/vs2019-workspace/vs2019-plugins/bx_serial/
bochs/build/win32/vs2019-workspace/vs2019-plugins/bx_sounddummy/
bochs/build/win32/vs2019-workspace/vs2019-plugins/bx_soundfile/
bochs/build/win32/vs2019-workspace/vs2019-plugins/bx_soundwin/
bochs/build/win32/vs2019-workspace/vs2019-plugins/bx_speaker/
bochs/build/win32/vs2019-workspace/vs2019-plugins/bx_svga_cirrus/
bochs/build/win32/vs2019-workspace/vs2019-plugins/bx_textconfig/
bochs/build/win32/vs2019-workspace/vs2019-plugins/bx_unmapped/
bochs/build/win32/vs2019-workspace/vs2019-plugins/bx_usb_ehci/
bochs/build/win32/vs2019-workspace/vs2019-plugins/bx_usb_floppy/
bochs/build/win32/vs2019-workspace/vs2019-plugins/bx_usb_hid/
bochs/build/win32/vs2019-workspace/vs2019-plugins/bx_usb_hub/
bochs/build/win32/vs2019-workspace/vs2019-plugins/bx_usb_msd/
bochs/build/win32/vs2019-workspace/vs2019-plugins/bx_usb_ohci/
bochs/build/win32/vs2019-workspace/vs2019-plugins/bx_usb_printer/
bochs/build/win32/vs2019-workspace/vs2019-plugins/bx_usb_uhci/
bochs/build/win32/vs2019-workspace/vs2019-plugins/bx_usb_xhci/
bochs/build/win32/vs2019-workspace/vs2019-plugins/bx_vbox_img/
bochs/build/win32/vs2019-workspace/vs2019-plugins/bx_vga/
bochs/build/win32/vs2019-workspace/vs2019-plugins/bx_vmware3_img/
bochs/build/win32/vs2019-workspace/vs2019-plugins/bx_vmware4_img/
bochs/build/win32/vs2019-workspace/vs2019-plugins/bx_voodoo/
bochs/build/win32/vs2019-workspace/vs2019-plugins/bx_vpc_img/
bochs/build/win32/vs2019-workspace/vs2019-plugins/bx_vvfat_img/
bochs/build/win32/vs2019-workspace/vs2019-plugins/bx_win32_gui/
bochs/build/win32/vs2019-workspace/vs2019-plugins/bx_win32config/
bochs/build/win32/vs2019-workspace/vs2019-plugins/bxhub/
bochs/build/win32/vs2019-workspace/vs2019-plugins/bximage/
bochs/build/win32/vs2019-workspace/vs2019-plugins/cpu/
bochs/build/win32/vs2019-workspace/vs2019-plugins/cpudb/
bochs/build/win32/vs2019-workspace/vs2019-plugins/fpu/
bochs/build/win32/vs2019-workspace/vs2019-plugins/gui/
bochs/build/win32/vs2019-workspace/vs2019-plugins/iodev/
bochs/build/win32/vs2019-workspace/vs2019-plugins/iodev_hdimage/
bochs/build/win32/vs2019-workspace/vs2019-plugins/iodev_network/
bochs/build/win32/vs2019-workspace/vs2019-plugins/iodev_sound/
bochs/build/win32/vs2019-workspace/vs2019-plugins/iodev_usb/
bochs/build/win32/vs2019-workspace/vs2019-plugins/memory/
bochs/build/win32/vs2019-workspace/vs2019-plugins/niclist/
bochs/build/win32/vs2019-workspace/vs2019-plugins/softfloat3e/
bochs/build/win32/vs2019-workspace/vs2019-plugins/stubs/
bochs/build/win32/vs2019-workspace/vs2019-plugins/x64/

# /bochs/
/bochs/Makefile
/bochs/bochs
/bochs/bochs.exe
/bochs/bxdisasm
/bochs/bxdisasm.exe
/bochs/bximage
/bochs/bximage.exe
/bochs/bxcommit
/bochs/bxcommit.exe
/bochs/bxhub
/bochs/bxhub.exe
/bochs/bxversion.h
/bochs/bxversion.rc
/bochs/config.h
/bochs/config.log
/bochs/config.status
/bochs/bochsout.txt
/bochs/config.cache
/bochs/.conf.my
/bochs/niclist.exe
/bochs/parport.out
/bochs/ltdlconf.h
/bochs/libtool
/bochs/.bochs.log
/bochs/.bochs.out
/bochs/vs2019

# /bochs/bios/
/bochs/bios/Makefile
/bochs/bios/_rombios*_.c
/bochs/bios/biossums
/bochs/bios/rombios*.s
/bochs/bios/rombios*.sym
/bochs/bios/rombios*.txt
/bochs/bios/rombios*.bin
/bochs/bios/rombios32.out

# /bochs/build/linux/
/bochs/build/linux/DOC-linux.html
/bochs/build/linux/bochs-dlx

# /bochs/build/macosx/
/bochs/build/macosx/Info.plist

# /bochs/build/win32/nsis/
/bochs/build/win32/nsis/Makefile
/bochs/build/win32/nsis/bochs.nsi

# /bochs/bx_debug/
/bochs/bx_debug/Makefile

# /bochs/cpu/
/bochs/cpu/Makefile

# /bochs/disasm/
/bochs/disasm/Makefile

# /bochs/doc/docbook/
/bochs/doc/docbook/Makefile

# /bochs/doc/docbook/development/
/bochs/doc/docbook/development/*.html

# /bochs/doc/docbook/documentation/
/bochs/doc/docbook/documentation/*.html

# /bochs/doc/docbook/user/
/bochs/doc/docbook/user/*.html

# /bochs/gui/
/bochs/gui/Makefile
/bochs/gui/.libs/

# /bochs/host/linux/pcidev/
/bochs/host/linux/pcidev/Makefile

# /bochs/instrument/stubs/
/bochs/instrument/stubs/Makefile
/bochs/instrument/example*/Makefile

# /bochs/iodev/
/bochs/iodev/Makefile
/bochs/iodev/.libs/

# /bochs/memory/
/bochs/memory/Makefile

# /bochs/misc/
/bochs/misc/Makefile

# /bocks/cpu/avx/
/bochs/cpu/avx/Makefile

# /bochs/cpu/cpudb/
/bochs/cpu/cpudb/Makefile

# /bochs/cpu/fpu/
/bochs/cpu/fpu/Makefile

# /bochs/cpu/softfloat3e/
/bochs/cpu/softfloat3e/Makefile

# /bochs/iodev/display/
/bochs/iodev/display/Makefile
/bochs/iodev/display/.libs/

# /bochs/iodev/hdimage/
/bochs/iodev/hdimage/Makefile
/bochs/iodev/hdimage/.libs/

# /bochs/iodev/network/
/bochs/iodev/network/Makefile
/bochs/iodev/network/.libs/

# /bochs/iodev/sound/
/bochs/iodev/sound/Makefile
/bochs/iodev/sound/.libs/

# /bochs/iodev/usb/
/bochs/iodev/usb/Makefile
/bochs/iodev/usb/.libs/

# /sfsite/
/sfsite/doc
/sfsite/guestos
/sfsite/screenshot
/sfsite/techspec
/sfsite/tmp
/sfsite/xcf
/sfsite/.glimpse*
